html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.header {
  padding: 5rem 0 6rem;
}

.pizza-h1 {
  line-height: 10%;
}

.pizza-h2 {
  padding-bottom: 1.25rem;
}

.nav {
  padding: 0;
  margin: 0;
}

.ul {
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.main {
    padding: 2rem 4rem;
}

.bianco {
  width: 35rem;
}

.pizza-img {
  width: 25rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
