html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.grid {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  &__header {
    background-color: $background;
    grid-column-start: span 4;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
      width: 20rem;
    }
  }
  &__nav {
    background-color: $teal;
    grid-column-start: span 4;
    grid-row: 3 / span 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      // align-items: center;
      padding: 0;
      &__li {
        font-size: 1rem;
        list-style-type: none;
        color: #323232;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        align-self: center;
      }
    }
  }

  &__main {
    background-color: $background;
    grid-column: 2 / span 3;
    grid-row: 4 / span 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem 3rem 6rem;
    &__h1 {
      font-size: 1.5rem;
      color: $copy-grey;
      font-weight: normal;
      letter-spacing: 0.15rem;
    }
    &__h2 {
      font-size: 0.75rem;
      color: $light-grey;
      font-weight: lighter;
      letter-spacing: 0.1rem;
    }
    &__img {
      width: 35rem;
      padding: 2rem 0;
    }
    &__p {
      font-size: 1rem;
      color: $copy-grey;
      line-height: 2rem;
    }
    &__more {
      font-size: 1rem;
      color: $copy-grey;
      text-transform: uppercase;
    }
  }
  &__aside {
    background-color: $background;
    grid-column: 1 / span 1;
    grid-row: 4 / span 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    &__h1 {
      color: $copy-grey;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 0.15rem;
    }
    &__p {
      color: $copy-grey;
      font-size: 1rem;
      line-height: 2rem;
    }
    &__more {
      color: $copy-grey;
      font-size: 1rem;
      text-transform: uppercase;
    }
    &__img {
      width: 15rem;
      padding-top: 4rem;
    }
  }

  &__footer {
    background-color: $teal;
    color: $copy-grey;
    text-transform: capitalize;
    grid-column-start: span 4;
    grid-row: 11 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15rem;
  }
}
