* {
  box-sizing: border-box;
}

.main {
  margin: 0;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
    &__left-pint {
      width: 15rem;
      padding-right: 8rem;
      position: relative;
      animation: leftpint 3s ease-in-out infinite;
    }
    &__right-pint {
      width: 15rem;
      padding-left: 8rem;
      position: relative;
      animation: rightpint 3s ease-in-out infinite;
    }
}

@keyframes leftpint {

  50% {
    transform: rotate(30deg) translate(130px, 0);
  }
}

@keyframes rightpint {
  50% {
    transform: rotate(-30deg) translate(-130px, 0);
  }
}
