html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  max-width: 1440px;
}
// largest content box/border
.card {
    @include cardBorder;
    // second largest content box containing picture, name and bio
    &__content-wrapper {
      width: 53rem;
      height: 24rem;
      background-color: $white;
      position: relative;
    }
    // bio info block
    &__bio {
      width: 31.25rem;
      height: 19rem;
      background-color: $light-gray;
      position: absolute;
      top: 40px;
      right: 37px;
      // bio info content
      &__content {
        position: absolute;
        top: 20px;
        left: 35px;
        display: flex;
        flex-direction: column;
        line-height: 2%;
        font-size: 1.2rem;
        color: $dark-gray;
        font-weight: lighter;
        font-family: $font-fam;
        // bolded bio categories
        &__span {
          font-weight: bold;
        }
        // linkedin logo padding
        &__logo {
          padding-right: 1rem;
        }
        // flexblox for linkedin logo and linkedin profile
        &__p-flex {
          display: flex;
          align-items: center;
        }
      }
    }
    // profile image and name/profession
    &__image-name {
      width: 36%;
      position: relative;
      font-family: $font-fam;
      display: flex;
      flex-direction: column;
      align-items: center;
      top:35px;
      font-size: .75rem;
      color: $dark-gray;
      line-height: 70%;
      // profile image
      &__image {
        @include imageStyle;
      }
      // italicize profession
      &__name__h2 {
        font-style: italic;
        font-weight: lighter;
      }
    }
}
