// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
$light-blue: #F2F4F7;
$light-gray: #F5F5F5;
$dark-gray: #707070;
$border-gray: #D8D8D8;

// fonts
$font-fam: arial, helvetica, sans-serif;
